
#admin-header{
    height: 50px;
    border-bottom: 1px solid #999;
    box-shadow: 0px 1px 5px #a4284a;
}
#admin-header button{
    padding: 5px;
    background: #fff;
    border: 2px solid #a4284a;
    border-radius: 5px;
    display: block;
    margin: 8px auto;
    cursor: pointer;
    outline: none;
}
#admin-header button:hover{
    background: #a4284a;
    color: #fff;

}
#admin-header button:hover svg{
    fill: #fff;
    
}


#admin-header p{
    color: #a4284a;
    margin-top: 5px;
    font-size: 22px;
    font-weight: 500;
    

}
#admin-header #searchbar{
    height: 100%;
}
#admin-header #searchbar input{
    display: block;
    width: 80%;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #777;
    margin-top: 3px;
    position: relative;
    padding-left: 30px;
    outline: none;
}
#admin-header #searchbar span{
    position: absolute;
    top: 15px;
    left: 25px;
}
#admin-header #searchbar span svg{
    fill: #a4284a;
}



#admin-menu {
    width: 250px;
    background-color: #a4284a ;
    border-right: 2px solid #a4284a;
    z-index: 99;

    height: calc(100vh - 50px);
    position: absolute;
    left: -100%; 
    transition: all 500ms ease-in-out;   
}
#admin-menu ul{
    list-style: none;
    padding: 0px ;
    margin-block: 10px;
}
#admin-menu ul li{
    padding: 10px;
    font-size: 18px;
    font-weight: 500;

}
#admin-menu ul li.active {
}
#admin-menu ul li.active a{
    color: #fff;
    
}
#admin-menu ul li a{
    text-decoration: none;
    color: #000;
    display: block;
    padding-left: 40px;
    transition: 0.5s;

    position: relative;

}
#admin-menu ul li:not(.active) a:hover{
    color: #bbb;
    transition: 0.5s;

}
#admin-menu ul li a svg{
    position: absolute;
    left: 5px;
    top: 5px;
}


#admin-movies{
    text-align: center;
    padding: 5px;
    
}

#admin-movies button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#admin-movies #all-movies{
}
#admin-movies #all-movies hr{
    width: 80%;
    margin: 8px auto;
    background-color: #777;
    height: 2px;
    border-radius: 10px;
}
#admin-movies #all-movies table{
    direction: rtl;
    background-color: #777;
    width: 80%;
    
    margin: 10px auto;
}
#admin-movies #all-movies table thead{
    background-color: #a4284a;
    text-align: center;
    color: #fff;
    height: 40px;
    

}

#admin-movies #all-movies table thead th:nth-child(1){
    width: 70%;

}
#admin-movies #all-movies table tr:nth-child(even){
    background-color: #ddd;
}
#admin-movies #all-movies table td{
    height: 60px;
    margin: 0;
    padding: 5px;
}
#admin-movies #all-movies table td:nth-child(even){
    text-align: center;
    border-right: 1px solid #fff;
}
#admin-movies #all-movies table td a{
    text-decoration: none;
    color: initial;
    display: block;
}
#admin-movies #all-movies table td img{
    width: 40px;
    height: 50px;
    display: inline-block;


}
#admin-movies #all-movies table td p{
    display: inline-block;
}


#movie-edit input{
    border: 1px solid #000;

}

#movie-edit{
    border: 0px solid #000;
}
#movie-edit #movie-header{
    border: 0px solid #000;
    background-color: #f7f7f7;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
#movie-edit #movie-header>div{
    width: calc(30% / 2);
    text-align: center;
    font-weight: 600;
    border: 0px solid #000;
    outline: none;
    cursor: pointer;
    color: #000;
    height: 100%;
    padding-top: 10px;
    font-size: 18px;
}

#movie-edit .movie-indecator{
    position: relative;
    width: calc(30% / 2);
    height: 5px;
    background-color: #7ca8cb;
    border-radius: 5px;
    left: calc(100% /2);
    top: -3px;
    box-shadow: 0px -10px 20px #7ca8cb;
    transition: all 500ms ease-in-out;
}

#movie-edit .movie-tabs{
    position: relative;


}

#movie-edit .movie-tabs > div{
    position: absolute;
    top: -200%;
    opacity: 0;
    width: 100%;

    margin-top: 5px;
    transform: scale(0.9);
    transition:opacity 0.5s ease-in-out 0ms ,
    transform 500ms ease-in-out 0ms ;
}
#movie-edit .movie-tabs > div.active{
    top: 0;
    opacity: 1;
    transform: scale(1);
    
    margin-top: 0px;
}





#movie-edit button{
    outline: none;
}
#movie-edit form {
    direction: rtl;
}


#movie-edit form input[disabled]{
    border: 1px solid #777 ;
    background-color: #000;
}


#movie-edit form input[type=text]{
    display: block;
    width: 100%;
    margin: 8px auto;
    color: #000;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;

}
#movie-edit form button{
    display: block;
    text-align: center;
    margin: 8px auto;
    border: 0px solid #000 ;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    color: #7ca8cb;
}
#movie-edit form #genre{
    border: 1px solid #000;
    border-radius: 5px;


}
#movie-edit form #genre label{
    width: 40%;
    display: inline-block;
    text-align: center;

}

#movie-edit form #genre input{
    display: inline-block;
    width: 50%;
    

}
#movie-edit form textarea{
    min-width: 80%;
    display: block;
    min-height: 40px;
    text-align: center;
    padding: 5px;
    background-color: #fff;
    color: #000;

}
#movie-edit form hr{
    width: 100%;
    margin: 0 auto;
    border: 1px solid #999;
    background-color: #999;
    border-radius: 10px;
}
#movie-edit form #tags{
    direction: rtl;
    text-align: right;
}
#movie-edit form #tags input{
    display: inline;
    
    max-width: max-content;
    font-size: 14px;
    border: 2px solid #999;
    border-radius: 20px;
    padding: 5px;
    margin: 2px;
}
#movie-edit form #movie-info{
    border: 0px solid #999;
    direction: ltr;
    padding-left: 20px;

}
#movie-edit form #movie-info label{
    display: inline-block;
}
#movie-edit form #movie-info input{
    display: inline-block;
    color: #7ca8cb;
    border: 0px solid #000;
    width: 80%;
    text-align: left;
    padding-left: 10px;

}
#movie-edit form #movie-info hr{
    width: 98%;
    border: 0.5px solid #999;

}
#movie-edit form input[type=submit]{
    display: none;
    margin: 30px auto;
    margin-bottom: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: #7ca8cb;
    color: #fff;
    border: 1px solid #7ca8cb;
    cursor: pointer;
    transition: 0.3s;

}
#movie-edit form input[type=submit]:hover{
    background-color: #000;
    border-color: #000;
    transition: 0.3s;

}