body{
    /* height: 100vh;
    overflow-y: hidden; */
}

/* Fonts
font-family: 'Barlow', sans-serif;
font-family: 'Mada', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Tajawal', sans-serif;


*/

#header{
    background-color: #fff;
    border-bottom: 1px solid #999;
    height: 60px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding-top: 5px;
    padding-inline: 5px;
}  

#header button{
    border: 0px solid transparent;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
} 
#header button svg{
    width: 100% ;
    height: 100%;
    fill: #1D2F40;
}
#header button:focus{
    outline-width: 0px;
}
#header img{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-block-end: 10px ;
}
#header h2{
    display: inline-block;
    font-size: 18px;
    color: #1D2F40;
}
#header a{
    text-decoration: none;
    color: initial;
    display: inline-block;
    width: 35px;
    margin-inline:  auto;
    margin-top: 2px ;
    height: 35px;
}
#header a svg{
    width: 100% ;
    height: 100%;
    fill: #1D2F40;
}


#header #filterback a{
    padding-top: 5px ;
}
#header #filterback a svg{
    fill: #000;
}

#sidemenu{
    width: 300px;
    background-color: #fff;
    height: 100vh;
    position: absolute;
    z-index: 200;
    padding: 0;
    box-shadow: 0 5px 10px #f244849f;
    top: 0;
    left: -100%;
    border: 0px solid #999;
    transition: 0.2s;
    padding-top: 25px;
    padding-left: 12px;
    font-family: 'Barlow', sans-serif;
    
}
#sidemenu #sideheader button{
    border: 0 solid #1D2F40;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
}
#sidemenu #sideheader button svg{
    width: 100% ;
    height: 100%;
    fill: #1D2F40;
}
#sidemenu #sideheader img{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-block-end: 10px ;
}
#sidemenu #sideheader h2{
    display: inline-block;
    font-size: 18px;
    color: #1D2F40;
}
#sidemenu #profile{
    height: 90px;
    background-color: #f244849f;
    padding: 0;
    margin: 0px auto;
    
    
}
#sidemenu #profile .col-4{
    position: relative;
}
#sidemenu #profile img{
    width: 70px;
    position: absolute;
    top: 8px;
    left:3px;
    height: 70px;
    border-radius: 50%;
}
#sidemenu #profile p{
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    padding-top: 20px;
    display: block;
    color: #fff;
}
#sidemenu ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
#sidemenu ul li{
    display: block;
    height: 45px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 5px solid transparent;

}
#sidemenu ul li.active{
    border-left: 5px solid #F24484;
}
#sidemenu ul li.active a{
    color: #F24484;

}
#sidemenu ul li a{
    display: block;
    color: #1D2F40;
    height: 100%;
    padding-top: 10px;
    text-align: left;
    padding-left: 50px;
    text-decoration: none;
    position: relative;
}
#sidemenu ul li a svg{
    position: absolute;
    left: 5px;
    width: 25px;
    height: 25px;
    top: 10px;
}



#movies{
    transition: 0.2s;
}


#movies #movielefter {
    position: relative;
    
}
#movies #movielefter #card{
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 0;
    margin: 0px auto;
    position: absolute;
    max-height: 80vh;
    
    left: 0;
    transform: scale(0.9);
    transition: all ease 0.3s;
}
#movies #movielefter #card.likeremove{
    left: 100%;
    transform: scale(1.1);

}
#movies #movielefter #card.likeremove::after{
    content: 'Like';
    display: block;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 22px;
    padding-top: 40%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}
#movies #movielefter #card.dislikeremove{
    left: -100%;

    transform: scale(1.1);
}
#movies #movielefter #card.dislikeremove::after{
    content: 'Dislike';
    display: block;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 22px;
    padding-top: 40%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}
#movies #movielefter img{
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    display: block;
}

#movies #info{
    text-align: center;
    padding: 0;
    background-color: #fff;



}
#movies #info p{
    font-size: 18px;
    font-weight: 500;
    padding: 0;
}
#movies #options{
    background-color: #fff;
    height: 100px;
    position: absolute;
    bottom: calc(100% /15);
    width: 100%;
    padding-top: 10px;
    z-index: 99;

}
#movies #options button{
    display: block;
    margin: 0 auto;
    background-color: transparent;
}
#movies #options #like,#movies #options #dislike{
    border: 1px solid #f00;
    background-color: #f00;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#movies #options #like{
    border: 1px solid #0f0;
    background-color: #0f0;

}
#movies #options #like img{
    
}
#movies #options #like svg{
    fill: #0f0;
}
#movies #options #dislike svg{
    fill: #f00
}
#movies #options button svg{
    width: 90%;
    height: 90%;
}
#movies #options #more{
    background-color: #192939;
    color: #fff;
    width: 100%;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 5px;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
}
#movies #options p{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}
#movies #options p span{
    color: #a4284a;
    font-size: 20px;
}
/*  */
/* Movie PAGE */
/*  */


#movie{
    padding: 5px;
}
#movie #moviename{
    margin: 0;
}
#movie #year{
    color: #008832;
    font-weight: 600;
    font-size: 1.1em;
}
#movie #info {

}
#movie #info p{
    color: #444;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;

}
#movie #info p span{
    color: #a4284a;
}
#movie #bio{
}
#movie #bio #tabs{
    height: 450px;
    width: 100%;
    overflow: hidden;
    padding: 3px;
}
#movie #bio #tabs #tab-header{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
#movie #bio #tabs #tab-header > div{
    width: calc(100% / 3);
    text-align: center;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    font-size: 18px;

}
#movie #bio #tabs #tab-header > div.active{
}
#movie #bio #tabs #indicator{
    position: relative;
    top: 0;
    width: 100%;
    height: 5px;
    background-color: #172736;
    border-radius: 5px;
    margin-bottom: 10px;

}
#movie #bio #tabs #tab-indicator{
    position: absolute;
    width: calc(100% / 3);
    height: 5px;
    background-color: #a4284a;
    border-radius: 5px;
    left: calc( (100% / 3)*2 ) ;
    top: 0;
    box-shadow: 0px -10px 20px #a4284a;
    transition: all 500ms ease-in-out;
}
#movie #bio #tabs #tab-body{
    height: calc(100% - 60px);
    position: relative;
    padding: 10px 5px;
    width: 100%;
}
#movie #bio #tabs #tab-body > div{
    position: absolute;
    top: -200%;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    transform: scale(0.9);
    transition:opacity 0.5s ease-in-out 0ms ,
    transform 500ms ease-in-out 0ms ;
}
#movie #bio #tabs #tab-body > div.active{
    top: 0;
    opacity: 1;
    transform: scale(1);
    
    margin-top: 0px;
}
#movie #bio #tabs #tab-body > div p{
    padding: 5px;
    text-align: right;
}

#movie #bio #tabs #tab-body > div ul{
    display: block;
    width: 90%;
    padding: 10px 5px ;
    height: 100%;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
}
#movie #bio #tabs #tab-body > div ul::-webkit-scrollbar{
    width: 8px;
}
#movie #bio #tabs #tab-body > div ul::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: #ddd;

} 
#movie #bio #tabs #tab-body > div ul::-webkit-scrollbar-thumb{
    background-color: #a4284a;
    border-radius: 5px;

}



#movie #bio #tabs #tab-body  li{
    width: 100%;
    display: block;
    border: 1px solid #a4284a;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
    height: 40px;
    margin: 3px;
    padding: 8px;


}

/*  */
/*  */
/*  */
#filters{
    direction: rtl;
}
#filters label{
    display: block;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
#filters #select{
    background-color: #eee;
    display: block;
    margin-top: 15px;
    cursor: pointer;

    height: 50px;
    font-size: 18px;
    padding-right: 20px;
    width: 100%;
    border-radius: 10px;

    outline: none;
    position: relative;
    overflow-y: 0;
    margin-bottom: 10px;

}
#filters #select span{
    position: absolute;
    left: 0;
    width: 10%;
    height: 40px;
    text-align: center;
    top: 5px;
    left: 15px;
    z-index: 100;
}
#filters #select span svg{
    fill: #a4284a;
    width: 100%;
    height: 100%;
}
#filters #select ul{
    width: 100%;
    position: absolute;
    top: 0px;  
    opacity: 0;
    right: 0;  
    border-radius: 10px;
    height: 40px;
    padding: 0;
    list-style: none;
    overflow-y: hidden;
    transition: all 175ms ease-in-out ;
}
#filters #select ul li{
    height: 48px;
    padding-top: 10px;
    cursor: pointer;
    width: 100%;
    color: #000;
    background-color: #eee;
    text-align: center;

}
#filters #select ul li:nth-last-child(1){
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;


}

#filters #productionYear input{
    border: 1px solid #eee;
    display: block;
    width: 90%;
    height: 40px;
    background-color: #eee;
    border-radius: 10px;
    padding-right: 10px;
    outline: none;


}
#filters #filmRate #stars{
    text-align: right;
}
#filters #filmRate #stars #star{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
}
#filters #filmRate #stars #star svg{
    width: 30px;
    height: 30px;
    fill: #e596a9;
}
#filters #platforms .col-4{
    padding: 0;
    height: 50px;
}
#filters #platforms label{
    display: inline-block;
    height: 100%;
    width: 70%;

    margin-top: 10px;
    margin-left: 5px;
    font-size: 16px;
    text-align: center;


}
#filters #platforms input{
    display: inline-block;
    float: right;
    border: 1px solid #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 10px;

}
#filters form input[type=submit]{
    display: block;
    background-color: #a4284a;
    border: 0px solid #a4284a;
    width: 80%;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    margin: 10px auto;
    color: #fff;
    border-radius: 10px;
}
#survey {
     direction: rtl;
     text-align: center;
}
#survey p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
#survey .row{
    border: 1px solid #ccc;
    margin-top: 40px;
    margin-inline: 0;
    border-radius: 15px;


}
#survey .row.active{
    border-color: #a4284a;
    border-width: 2px;
    color: #a4284a;
    background-color: #a428495b;
}
#survey .row label{
    display: block;
    width: 100%;
    text-align: right;
    height: 50px;
    padding-top: 15px;
    font-size: 16px;
    padding-right: 10px;
    font-weight: 500;
}
#survey .row input{
    width: 25px;
    height: 25px;
    margin-top: 15px;    
    display: inline-flex;
    appearance: none;
    border-radius: 50%;
    padding-right:6px; 

} 
#survey .row input::after{
    content: "\2713";
    font-weight: 600;
    color: #fff;
    display: none;
    font-size: 16px;  
}
#survey .row input:checked    {
    background: #a4284a;

}
#survey .row input:checked::after{
    display: inline-block;
}
#survey input[type=submit]{
    width: 100%;
    margin-top: 50px ;
    height: 60px;
    font-weight: 500;
    background-color: #a4284a;
    border-color: transparent;
    color: #fff;
    border-radius: 15px;
}




@media screen and (max-width : 700px) {
    #header{
        
        height: 50px;
        padding-top: 0px;

    
    }  
    
    #header button{
        border: 0px solid transparent;
        background-color: transparent;
        display: block;
        margin: 0 auto;
        width: 40px;
        height: 40px;
    } 
    #header button svg{
        width: 100% ;
        height: 100%;
    }
    #movies{
    }
    #movies #poster {
        position: relative;
    
    }
    #movies #poster img{
        width: 100%;
        z-index: -2;
    }

    #movies #options{
        background-color: #fff;
        height: 100px;
        padding-top: 20px;
        z-index: 99;
    
    }
    #movies #options button{
        display: block;
        margin: 0 auto;
        background-color: transparent;
    }
    #movies #options #like,#movies #options #dislike{
        border: 1px solid #f00;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    #movies #options #like{
        border: 1px solid #0f0;
    
    }
    #movies #options #like svg{
        fill: #0f0;
    }
    #movies #options #dislike svg{
        fill: #f00
    }
    #movies #options button svg{
        width: 90%;
        height: 90%;
    }
    #movies #options #more{
       
    }
    /*  */
    /*  */
    /*  */

    
    
}



/* Packages */

#packages{
    font-family: 'Mada', sans-serif;

}
#packages h1{
    color: #1D2F40;
    text-align: center;
    font-weight: 300;
    font-size: 54px;
}
#packages p{
    color: #1D2F40;
    text-align: center;
    font-weight: 400;

}
#packages #pack{
    text-align: center;
}
#packages #pack .card{
    display: block;
    border: 0px solid transparent;
    background-color: #fff;
    box-shadow: #1D2F40 0px 0px 8px 2px;
    width: 80%;
    color: #Fff;
    margin: 10px auto;
    font-family: 'Tajawal', sans-serif;
}
#packages #pack .card .card-header {
    border-width: 1px;
    background-color: #1D2F40;
}
#packages #pack .card .card-header h3{
    color: #fff;
    padding: 10px;
}
#packages #pack .card .card-header p{
    direction: rtl;
    text-align: right;
    margin-bottom: 3px;
    color: #fff;
}
#packages #pack .card .card-header ul{
    direction: rtl;
    text-align: right;
    padding-right: 15px;
}
#packages #pack .card .card-header h4{
    border: 1px solid #1D2F40;
    padding: 8px;
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
    direction: rtl;
    font-weight: 300;
}
#packages #pack .card .card-body button{
    border: 0px solid transparent;
    height: 45px;
    color: #fff;
    border-radius: 25px;
    background-size: 200%;
    background-image: linear-gradient(to left, #F24B78 , #8C3052 ,#F24B78  );
    transition: 0.2s;
    cursor: pointer;
    width: 60%;
    display: block;
    outline: none;
    padding: 5px 8px;
    margin: 3px auto;
    z-index: 1;
}
#packages #pack .card .card-body button:hover{
    background-position: right;
    transition: 0.2s;
}
#payment h2{
    text-align: center;
    padding: 8px 16px;
    color: #1D2F40;
    font-size: 44px;
    font-weight: 300;
    direction: rtl;

}
#payment img{
    height: 80px;

}
#payment form{
    padding-top: 20px;
}
#payment form input[type=text], #payment form input[type=email] , #payment form input[type=password]{
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    margin-bottom: 30px;
    font-size: 22px;
    border: 1.5px solid #F24484;
    border-radius: 8px;
    box-shadow: 0px 0px 1px #F24484;
    text-align: center;
    outline: none;

}

#payment form input[type=text]:focus,#payment form input[type=email]:focus,#payment form input[type=password]:focus{
    box-shadow: 0px 0px 3px 1px #F24484;
}  
#payment form label{
    color: #1D2F40;
    font-size: 20px;
    text-align: right;
    margin-right: 5%;
    display: block;
    font-weight: 500;

}
#payment form input[type=submit]{
    display: block;
    margin: 10px auto;
    background-image: linear-gradient(to left, #F24B78 , #8C3052 ,#F24B78  );
    transition: 0.2s;
    cursor: pointer;
    color: #fff;
    min-width: 200px;
    height: 50px;
    border-radius: 25px;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    border: 0px solid #F24484;
    background-size: 200%;



}
#payment form input[type=submit]:hover{
    background-position: right;
    transition: 0.2s;
}
#payment form img{
    display: block;
    float: left;
    margin-left: 55px;
    width: 100px;
}
